/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #161614;
}

/* Font */
h1 {
  font-family: "changeling-neo", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  font-style: normal;
  color: #eefdab;
  line-height: 0.8;
}

h2 {
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #eefdab;
  line-height: 1;
}

p {
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  color: #eefdab;
}
/* Menu */

nav {
  background-color: #161614;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px #eefdab;
}

.logo {
  max-width: 100px;
}

/* Desktop Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
}

.menu li a {
  text-decoration: none;
  color: #eefdab;
  font-size: 18px;
  transition: color 0.3s;
  font-family: "changeling-neo", sans-serif;
}

.menu li a:hover {
  color: #d0ff00;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.burger .line {
  width: 30px;
  height: 3px;
  background-color: #eefdab;
  margin: 5px 0;
  transition: 0.3s;
}
main {
  padding-top: 140px;
}
/* FORSIDA */
.eeg {
  object-fit: cover;
  align-content: center;
  display: block;
}
.textiforsida {
  font-size: 1.2rem;
  margin-top: 50px;
}

.portfolio {
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.nafnfor {
  font-size: 2rem;
}
/* om mig */
.textiommig {
  line-height: 1.5;
  margin-right: 45px;
}
.paddi {
  padding-left: 15px;
}
/* VERKEFNA SÍDUR */
.tilhlidar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
  padding-top: 50px;
  margin: 0 auto;
}
.api {
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1rem;
  text-align: end;
}
.uppi {
  margin-left: 20px;
}
.uppi4 {
  display: flex;
  align-items: baseline;
}
.uppitexti {
  line-height: 1.5;
  font-size: 1.1rem;
}
.verknofn {
  font-size: 3.2rem;
}
.hjemme {
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.nafn {
  display: flex;
  align-items: baseline;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 2px;
  font-size: 3.2rem;
  padding-left: 15px;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #161614;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px #eefdab;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  .eeg {
    object-fit: cover;
  }
  .textiforsida {
    font-size: 20px;
  }

  h1 {
    font-family: "changeling-neo", sans-serif;
    font-weight: 700;
    font-size: 2.9rem;
    font-style: normal;
    color: #eefdab;
    line-height: 0.8;
  }
  h2 {
    font-family: "changeling-neo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9rem;
    color: #eefdab;
    line-height: 1;
  }
  .textiommig {
    line-height: 1.5;
    margin: 20px 20px;
  }
  .paddi {
    padding-left: 15px;
  }
  .tilhlidar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .api {
    font-family: "changeling-neo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1rem;
    text-align: end;
    margin-right: 20px;
  }
}
