/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bakgrunnur: #161614;
  --texti: #eefdab;
  --glitch: #d0ff00;

  --heading: "changeling-neo", sans-serif;
  --body: "space-mono", monospace;
}

body {
  background-color: var(--bakgrunnur);
}

/* Font */
h1 {
  font-family: var(--heading);
  font-weight: 700;
  font-size: 5rem;
  font-style: normal;
  color: var(--texti);
  line-height: 0.8;
}

h2 {
  font-family: var(--heading);
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--texti);
  line-height: 1;
}
h3 {
  font-family: var(--heading);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--texti);
  line-height: 1;
}

p {
  font-family: var(--body);
  font-weight: 400;
  font-style: normal;
  color: var(--texti);
  font-size: 1rem;
}
a {
  font-family: var(--heading);
  font-weight: 700;
  font-style: normal;
  color: var(--glitch);
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  color: var(--texti);
  font-weight: bold;
  text-shadow: 0 0 8px var(--glitch);
  animation: glitch 1.5s infinite;
}

/* Menu */

nav {
  background-color: var(--bakgrunnur);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px var(--texti);
}

.logo {
  max-width: 100px;
}

/* Desktop Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
}

.menu li a {
  text-decoration: none;
  color: var(--texti);
  font-size: 18px;
  transition: color 0.3s, text-shadow 0.3s;
  font-family: var(--heading);
}

.menu li a:hover {
  color: var(--glitch);
  animation: glitch 1s infinite;
}
.menu li a.active {
  color: var(--glitch);
  font-weight: bold;
  text-shadow: 0 0 8px var(--glitch);
  animation: glitch 1.5s infinite;
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.burger .line {
  width: 30px;
  height: 3px;
  background-color: var(--texti);
  margin: 5px 0;
  transition: 0.3s;
}
@keyframes glitch {
  0% {
    text-shadow: 2px 0 var(--glitch), -2px 0 var(--texti);
  }
  20% {
    text-shadow: -2px 0 var(--glitch), 2px 0 var(--texti);
  }
  40% {
    text-shadow: 2px 2px var(--texti), -2px -2px var(--glitch);
  }
  60% {
    text-shadow: 1px -1px var(--glitch), -1px 1px var(--texti);
  }
  80% {
    text-shadow: 0 0 6px var(--glitch);
  }
  100% {
    text-shadow: none;
  }
}
main {
  padding-top: 140px;
}
/* FORSIDA */
.textiforsida {
  font-size: 1.2rem;
  margin-top: 50px;
}

.portfolio {
  font-family: var(--heading);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.nafnfor {
  font-size: 2rem;
}
/* om mig */
.textiommig {
  line-height: 1.5;
  margin-right: 45px;
}

/* VERKEFNA SÍDUR */
.tilhlidar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.api {
  font-family: var(--heading);
  font-weight: 400;
  font-style: normal;
  font-size: 2.1rem;
  text-align: end;
}
.uppi {
  margin-left: 20px;
}

.verknofn {
  font-size: 3.2rem;
}
.hjemme {
  font-family: var(--heading);
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.nafn {
  display: flex;
  align-items: baseline;

  margin-bottom: 50px;
  margin-left: 2px;
  font-size: 3.2rem;
  padding-left: 15px;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--bakgrunnur);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px var(--texti);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .textiforsida {
    font-size: 20px;
  }

  h1 {
    font-family: var(--heading);
    font-weight: 700;
    font-size: 2.9rem;
    font-style: normal;
    color: var(--texti);
    line-height: 0.8;
  }
  h2 {
    font-family: var(--heading);
    font-weight: 400;
    font-style: normal;
    font-size: 1.9rem;
    color: var(--texti);
    line-height: 1;
  }
  h3 {
    font-family: var(--heading);
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--texti);
    line-height: 1;
  }

  .tilhlidar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .api {
    font-family: var(--heading);
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    text-align: end;
    margin-right: 20px;
  }
  .tilhlidar {
    display: grid;
    grid-template-columns: 1fr;

    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .textiommig {
    line-height: 1.5;
    margin: 20px;
  }

  .verknofn {
    font-size: 2.2rem;
  }
}
