/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #161614;
}

/* Font */
h2 {
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #eefdab;
}
h1 {
  font-family: "changeling-neo", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eefdab;
}
p {
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  color: #eefdab;
}
/* Menu */
/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #161614;
}

nav {
  background-color: #161614;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px #eefdab;
}

.logo {
  max-width: 100px;
}

/* Desktop Menu */
.menu {
  list-style: none;
  display: flex; /* Menu is visible on desktop */
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: #eefdab;
  font-size: 18px;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #d0ff00;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.burger .line {
  width: 30px;
  height: 3px;
  background-color: #eefdab;
  margin: 5px 0;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #161614;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px #eefdab;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
